body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

header {
  background-color: rgb(133, 207, 231);
  text-align: center;
}

main {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

footer {
  background-color: rgb(133, 207, 231);
  text-align: center;
}

/* Gallery items */
.gallery-item {
  background-color: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 3px 5px 17px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 5px 17px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 5px 17px 3px rgba(0,0,0,0.2);
}

.gallery-item .display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item .meta {
  text-align: center;
}